<% layout('layouts/adminBoilerplate1')%>
<div class="row">
    <h1 class="text-center">Register</h1>
     <div class="col-6 offset-3">
    
      <form action="/admin/register" method="POST" novalidate class="row g-3 needs-validation">
        <div class="mb-3">
            <label class="form-label" for="username">Name</label>
            <input class="form-control" type="text" id="username" name="username" required>
            <div class="valid-feedback">
                valid!
            </div>
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
            <div class="valid-feedback">
                valid!
            </div>
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">
                valid!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Secret Code</label>
            <input class="form-control" type="password" name="adminCode" required>
            <div class="valid-feedback">
                valid!
            </div>
        </div>
        
        <button class="btn btn-sm btn-success">Register</button>
    </form>
    </div>
    </div>



 