<% layout('layouts/boilerplate.ejs')%> 
<div class="card mb-7">
    <div class="card-header align-text-center">
        <h4>ISSUED BOOKS</h4>
    </div>
    <table class="table table-bordered" style="text-align: center; border-bottom: 1px solid black" >
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Author</th>
              <th scope="col">Edition</th>
              <th scope="col">Total Copies</th>
              <th scope="col">Available Copies</th>
              <th scope="col">Currently Issued By</th>
              <th scope="col">Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Engineering Chemistry</td>
                <td>Jain & Jain</td>
                <td>17th</td>
                <td>20</td>
                <td>16</td>
                <td>
                  <div class="d-flex flex-column" >
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">201050056</div>                  
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">201031023</div>
                    <div class="p-2" >201060087</div>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-column" >
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">24/1/23 (late)</div>                  
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">2/2/23</div>
                    <div class="p-2" >4/2/23</div>
                  </div>
                </td>
            </tr>
            <tr>
              <td>Object-Oriented Programming with C++</td>
                <td>E Balaguruswamy</td>
                <td>8th</td>
                <td>48</td>
                <td>38</td>
                <td>
                  <div class="d-flex flex-column" >
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">201050056</div>                  
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">201071023</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">211021035</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">201030063</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">201030023</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">211011091</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">191050057</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">201041011</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">211010022</div>
                    <div class="p-2" >201060087</div>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-column" >
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">27/1/23</div>                  
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">27/1/23</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">28/1/23</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">29/1/23</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">2/2/23</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">2/2/23</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">4/2/23</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">5/2/23</div>
                    <div class="p-2" style="border-bottom: 1px solid rgba(45, 3, 3, 0.275)">5/2/23</div>
                    <div class="p-2" >4/2/23</div>
                  </div>
                </td>
          </tr>
          </tbody>
    </table>
</div>