<% layout('layouts/boilerplate.ejs')%> 
<style>
    .col-6{
        margin-left: 300px;
        margin-top: 30px;
    }
</style>
    <div class="col-6">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" data-bs-interval="1000" class="active" aria-current="true" aria-label="Slide 1" ></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" data-bs-interval="1000" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" data-bs-interval="1000" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner opacity-75">
          <div class="carousel-item active">
            <img src="https://lh3.googleusercontent.com/p/AF1QipM1rqkSk5SiKN59HEwJiDo4R9qrTgUDgTgZzulu=s680-w680-h510" class="d-block w-100"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://lh3.googleusercontent.com/p/AF1QipOBGeribgeIKafN0Mca1WH7RdwvNWmis1z6flkp=s680-w680-h510" class="d-block w-100"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://lh3.googleusercontent.com/p/AF1QipOecf_BcqyLT3Osk0-clty08nVZR8r8Qmf9jMCq=s680-w680-h510" class="d-block w-100"  alt="...">
          </div>
        </div> 
    </div>
    </div>