<% layout('layouts/boilerplate1')%>
<style>
  body{
    width:100hh;
  }
  .bg-image{
    background-image: url('https://www.princeton.edu/sites/default/files/styles/half_2x/public/images/2019/03/SMS_9732%20copy_d.jpg?itok=XLs09r5C');
   background-repeat: no-repeat;
   background-size: 1700px 700px;
    height:79vh;
    width:100hh; 
    text-align: center;
    ;
  }
  .heading{
   color: black;
   margin-top: 8%;
   font-size:45px;
   font-style: italic;
   text-shadow: 2px 2px whitesmoke;
  }
  </style>
<div class="bg-image opacity-75 d-flex justify-content-center  " >
  <h1 class="heading fw-bold opacity-100  d-flex justify-content-center">WELCOME TO VJTI LIBRARY</h1>
</div>
</div>