<% layout('layouts/boilerplate.ejs')%>
  <style>
    .col-8 {
        margin-left: 200px;
      }

    #rules {
        height: 44px;
        text-align: center;
      }

      .a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.a:hover {
  color: rgba(31, 15, 15, 0.441);
  background-color: transparent;
  text-decoration: underline;
}

.a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
  </style>
  

<div class="card mb-5">
    <div id="rules" class="card-header align-text-center">
        <h4>PREVIOUS YEAR QUESTION PAPERS</h4>
    </div>
    <div class="card entry-content clear">
        <div class="row ms-5 mt-2 mb-2">
            <h5><a href="/books/pyqs/fy"  class="a" style="text-decoration: none;">First Year</a></h5>
        </div>
        <div class="row ms-5 mt-2 mb-2">
            <h5><a href="/books/pyqs/civil"  class="a" style="text-decoration: none;">Civil and Environmental Engineering</a></h5>
        </div>
        <div class="row ms-5 mt-2 mb-2">
            <h5><a href="/books/pyqs/ce" class="a"  style="text-decoration: none;">Computer Engineering and Information Technology</a></h5>
        </div>
        <div class="row ms-5 mt-2 mb-2">
            <h5><a href="/books/pyqs/ele"  class="a" style="text-decoration: none;">Electrical Engineering</a></h5>
        </div>
        <div class="row ms-5 mt-2 mb-2">
            <h5><a href="/books/pyqs/mech" class="a" style="text-decoration: none;">Mechanical Engineering</a></h5>
        </div>
        <div class="row ms-5 mt-2 mb-2">
            <h5><a href="/books/pyqs/prod" class="a" style="text-decoration: none;">Production Engineering</a></h5>
        </div>
        <div class="row ms-5 mt-2 mb-2">
            <h5><a href="/books/pyqs/struct" class="a" style="text-decoration: none;">Structural Engineering</a></h5>
        </div>
        <div class="row ms-5 mt-2 mb-2">
            <h5><a href="/books/pyqs/textile" class="a" style="text-decoration: none;">Textile Manufacturing</a></h5>
        </div>
    </div>
</div>