<% layout('layouts/boilerplate.ejs')%>
<style>
.mb-3{
    margin-left:4px;
    margin-right:4px;
}

</style>
<div class="row mt-2">
    <div class="col-7 offset-3">
      <div class="card">
        <form action="/requestbook" method="post" novalidate class="validated-form">
            <div class="mb-3">
              <h3 class="mt-3" style="text-align: center;"> YOU CAN REQUEST YOUR BOOK HERE...</h3>
             <label  for="title" class="form-label">Book Title</label>
             <input  class="form-control" type="text" id="title"  name="book_title" required>
             <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
             <label  for="book_author" class="form-label">Book Author</label>
             <input  class="form-control" type="text" id="book_author"  name="book[book_author]" required>
             <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            
               <div class="mb-3">
                <label for="subject" class="form-label">Subject Name</label>
                <input class="form-control" type="text" id="subject"  name="book_subject" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <button class="btn btn-success mt-3" id="PR">POST REQUEST</button>
               </div>
               </div>

    </form>