<% if(!currentUser) {%>
    <% layout('layouts/boilerplate1')%>
    <% } else {%>
      <% layout('layouts/boilerplate')%>
      <% } %>
  <style>
    .col-8 {
        margin-left: 200px;
      }

    #rules {
        height: 44px;
        text-align: center;
      }
  </style>
  

  <div class="card m-5">
    <div id="rules" class="card-header align-text-center">
        <h4>RULES</h4>
    </div>
    <div style="text-align: justify;" class="card-body align-text-center col-8 mt-4">
        <ul>
            <li>In the REFERENCE SECTION some text / reference books are kept for your reference against your VJTI ID Card.</li>
            <li>You may take your own books only in this part of the Library.</li>
            <li>Check the correct due date, because you will be fined according to this date.</li>
            <li>The fine rates vary for diverse resources and situation.</li>
            <li>Restrict the use of cell phones to academic purposes or emergency. Either turn them off or set them to silent mode.</li>
            <li>Take any conversations — phone or in person — outside the Library.</li>
            <li>Stand on the right, walk on the left. Library is manned on Self-Discipline and Trust.</li>
        </ul>

        <ol>
            <br>
            <li><h6>BOOK BANK BOOKS</h6></li>
            <ol>
                <li>Your previous records if any have to be clear. In the beginning of the academic year, books are loaned to you for the full year, that is both the semesters.</li>
                <li>Look out for the detailed notices on the VJTI site / Library Notice Board ( July / August )</li>
            </ol>
            <br>
            <li><h6>REPROGRAPHY</h6></li>
            <ol>
                <li>Is given of what is required, and what is in the Library, in keeping with the copy right laws, and the possibility of Photocopying the required material.</li>
                <li>The charge is 50p. per page of photocopy. Payment is to be made in the accounts section before 2.00 P.M</li>
                <li>The Photocopy material will be given to you as soon as it is ready depending on the load at the time.</li>
                <li>You must come and ask for it after allowing at least four hours, to get the work done. Preferably come on the following day.</li>
            </ol>
            <br>
            <li><h6>RESERVES / CLAIMS</h6></li>
            <ol>
                <li>If you find that a book is not available, you can place a CLAIM.</li>
                <li>Claimed Books are issued only after 3 P.M and the fine is more.</li>
                <li>You have to enquire and see whether your demand has materialized, preferably between 3 P.M to 4.30 P.M. The book will be kept for you for two days after which . your claim is forfeited.
                </li>
            </ol>
            <br>
            <li><h6>LOST / DAMAGED</h6></li>
            <ol>
                <li>In case you lose or damage a book, please report at the counter immediately. Take the instructions for replacement of the book from the Librarian.</li>
                <li>Check the condition of all the material / s before issue, you will be held responsible for damage.</li>
                <li>Library resources must be handled with care. As a responsible member, please help us to maintain the library material in good condition.</li>
                <li>All library material must first be issued from the issue counter before it is used.</li>
                <li>Please collect your ID Card before leaving the Library.</li>
                <li>Library material issued for current reading against the ID Card, is not to be taken out of the Library.
                </li>
            </ol>
            <br>
            <li><h6>SECURITY CHECKS</h6></li>
            <ol>
                <li>The library will not be held responsible for any loss or damage to your property.</li>
                <li>For security purposes, all users’ bags, briefcases, portfolios, backpacks, and purses, may be inspected as users exit the library. We appreciate your cooperation.</li>
                <li>Please note that it is the Institute policy for door checkers to impound your ID if it has expired or if someone other than the ID holder attempts to use it to enter the library.</li>
                <li>The Librarian may temporarily suspend or permanently withdraw membership if a member is found disobeying the rules and regulations of the Library.</li>
                <li>In case of need, do not hesitate to approach the library staff who are here to help you. But when you need help, avoid the rush periods, preferably come after 2.30 PM or between 11 AM-12 Noon.</li>
            </ol>
        </ol>
          
    </div>
    
</div>