<style>
    #head{
    margin-left: 10px;
    margin-top: 5px;
  
  }
  #abovenavbar{
    height:90px;
  }
  .navbar{
    height:35px;
  }
  </style>

  <div class="d-flex justify-content-between fw-bold " id="abovenavbar">
    <a class="navbar-brand text-dark" href="#">
      <img src="https://seeklogo.com/images/V/vjti-college-logo-707F46CDA8-seeklogo.com.png" alt="" width="70" height="80" class="d-inline-block align-text-centre" id="head">
      DR.BABASAHEB AMBEDKAR LIBRARY 
    </a>
    <!-- <form class="d-inline-flex p-4 justify-content-end" role="search">
      <input class="form-control rounded-pill " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-white" type="submit"><a class="navbar-brand" >
        <img src="https://pluspng.com/img-png/search-button-png-search-icon-this-icon-is-supposed-to-represent-a-magnifying-glass-it-s-a-large-png-50-px-1600.png"  width="28" height="28">
      </a> </button>
    </form> -->
    </div>
    <nav class="navbar navbar-expand-lg bg-dark ">
      <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" href="/admin">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" href="/admin/books">All Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" href="/admin/bookbank">Book Bank</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" href="/admin/searchStudent">Search Student</a>
            </li>
           
          </li>
            
          </ul>
      
          
          <div class="navbar-nav ml-auto collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            
              <a class="nav-link text-white fw-bold" href="/admin/logout">Logout</a>
            
              
          </div>
        </div>
      </div>
  
    </nav>