<style>
</style>
<footer class="site-footer bg-dark py-3 mt-auto" >
    <div class="container">
        <span class="text-muted">&copy; Veermata Jijabai Technological Institute</span>
    </div>

</footer>