<% layout('layouts/boilerplate.ejs')%>
  <style>
    .col-8 {
        margin-left: 200px;
      }

    #rules {
        height: 44px;
        text-align: center;
      }
      a{
        text-decoration: none;
        color: black;
      }
      .a:hover{
        font-weight: bold;
        color: black;
        text-shadow: 1px 1px grey;
      }
  </style>
<div class="card mb-5">
  
    <div id="rules" class="card-header align-text-center">
        <h4>FIRST YEAR</h4>
    </div>
    <div class="card">
        <div class="row text-center mt-3">
            <h5>ALL DEPARTMENTS</h5>
        </div>    
            <div class="card-group">
                <div class="card m-3">
                    <div class="card-title mb-3 mt-3 ms-3">
                        <a href="https://drive.google.com/file/d/1o34cHsMrn10wO3sbOLRlIAF2zdI4qgVW/view?usp=sharing" class="a" style="margin-left: 45%;">SEM-1</a>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="card-title mb-3 mt-3 ms-3">
                        <a href="https://drive.google.com/file/d/1eyJkLAoLXuD8Vpy7K83ObLEYkRJQsTCl/view?usp=sharing" class="a" style="margin-left: 45%;">SEM-2</a>
                    </div>
                </div>
        </div>