<% layout('layouts/boilerplate.ejs')%>
  <style>
    .col-8 {
        margin-left: 200px;
      }

    #rules {
        height: 44px;
        text-align: center;
      }
      a{
        text-decoration: none;
        color: black;
      }
      a:hover{
        font-weight: bolder;
        color: black;
        text-shadow: 1px 1px grey;
      }
  </style>
  <!-- https://drive.google.com/file/d/1eyJkLAoLXuD8Vpy7K83ObLEYkRJQsTCl/view?usp=sharing
  https://drive.google.com/file/d/1DjOjfIXMnk9-WEKY_-WHAzjIJqEyS4qS/view?usp=sharing -->
<div class="card mb-5">
  
    <div id="rules" class="card-header align-text-center">
        <h4>COMPUTER ENGINEERING AND INFORMATION TECHNOLOGY</h4>
    </div>
    <div class="card">
        <div class="row text-center mt-3">
            <h5>Second Year</h5>
        </div>    
            <div class="card-group">
                <div class="card m-3">
                    <div class="card-title mb-3 mt-3 ms-3">
                        <a href="https://drive.google.com/file/d/1DjOjfIXMnk9-WEKY_-WHAzjIJqEyS4qS/view?usp=sharing" style="margin-left: 45%;">SEM-3</a>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="card-title mb-3 mt-3 ms-3">
                        <h6 class="text-center">Sem 4</h6>
                    </div>
                </div>
        </div>

        <div class="row text-center mt-3">
            <h5>Third Year</h5>
        </div>    
            <div class="card-group">
                <div class="card m-3">
                    <div class="card-title mb-3 mt-3 ms-3">
                        <h6 class="text-center">Sem 5</h6>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="card-title mb-3 mt-3 ms-3">
                        <h6 class="text-center">Sem 6</h6>
                    </div>
                </div>
        </div>
        
        <div class="row text-center mt-3">
            <h5>Final Year</h5>
        </div>    
            <div class="card-group">
                <div class="card m-3">
                    <div class="card-title mb-3 mt-3 ms-3">
                        <h6 class="text-center">Sem 7</h6>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="card-title mb-3 mt-3 ms-3">
                        <h6 class="text-center">Sem 8</h6>
                    </div>
                </div>
        </div>
    </div>
</div>