<% layout('layouts/boilerplate')%>
<style>
  .col{
    margin-left: 3%;
  }
.time{
  font-weight: bolder;
  margin-right: 1%;
  padding-bottom: 2%;
  padding: 0%;
}
.con{
     border-width: 1px;
     border-color: black;
     padding: 0%;
}
.p-2{
  background-color: rgb(163, 158, 158);
  border-color: rgb(109, 37, 37);
  border-radius: 5px;
  text-decoration: none;
}
.p-2:hover{
 background-color:gray;

}

#img{
  padding-top: 5%;
 margin-left: 6%;
 margin-top: 6%;
} 
 .accordion{
    /* background-color:transparent ; */
    border-color: black;
    margin-left: 1%;
     border-radius: 2%;
     padding: 5% 1% 1% 1%;
     height:4%;
     width:77%;
}
.accordion-button:hover{
 /* background-color:gray; */
 border-color: black;

} */
#lib{
  margin-top: 4%;
  width: 19%;
}
.OPT{
  margin-left: 0%;
  margin-right: 4%;
}
.exp{
font-size: x-large;
font-style: italic;
margin-left: 13%;
  text-shadow: 1px 1px gray;
  text-transform: capitalize;
  font-weight: 500;
}

/* .accordion-body{
    background-color:transparent ;
    border-color: black;
    border-radius: 2%;
     padding: 2% 2% 2% 2%;
     height:13%;
     margin: 0% 0% 0% 0%;
}
.accordion-button{
    background-color:transparent ;
    border-color: black;
} */
</style>
<div class="d-flex">
  <div class="con"> 
  <div class="d-inline-flex p-1 mt-3" style="width: 45%; margin-left:5%;">
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="margin-right:45% ;margin-top:3% ;border-width:thin;width:230px;background-color:rgb(163, 158, 158);">LIBRARY TIMINGS: </li>
      <li class="list-group-item" style="margin-left:1%;border-width:thin;width:230px; padding-bottom: 1%;padding-left: 3%;">
          <img class="time "src="https://th.bing.com/th/id/OIP.Q22Wj4eBWF1FOaXe7UEYaAHaIx?w=177&h=210&c=7&r=0&o=5&dpr=1.5&pid=1.7" width="20%" height="48%" style="margin-bottom:0%;"> &nbsp;9:00a.m.-5:30p.m.>
        </li>
      </ul>
      </div>
       <ul class="list-group list-group-flush mt-3" style="padding-top: 5%; margin-left:8%;">
    <li class="list-group-item" style="margin-left:1px ;border-width:thin;width:230px;background-color:rgb(163, 158, 158);">EResources: </li>
    <li class="list-group-item" style="margin-left:1px ;border-width:thin;width:230px; padding-bottom: 2%;">
      <a class="ERSOR" href="/books/eResources" >E-Resources</a>
    </li>
    </ul>
      <div  class="d-flex mt-3" id="lib">
         <img src="https://th.bing.com/th/id/OIP.tECMoZMzu5xQ-asyTN8aRQHaFj?w=261&h=196&c=7&r=0&o=5&dpr=1.5&pid=1.7" id="img" height="35" width="35">
      <div class="accordion bg-white" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Ask Librarian
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p><strong>Librarian:</strong>Sejal<br><strong>Contact:</strong>1234567890</p><hr>
              <p><strong>Librarian:</strong>Tejal<br><strong>Contact:</strong>1234567890</p>
            </div>
          </div>
        </div>
      </div>
  </div>
 
</div>
<div class="col" >
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" data-bs-interval="100" class="active" aria-current="true" aria-label="Slide 1" ></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" data-bs-interval="100" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" data-bs-interval="100" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner opacity-75"  style="width:95%; height:55%;">
      <div class="carousel-item active" >
        <img src="https://lh3.googleusercontent.com/p/AF1QipM1rqkSk5SiKN59HEwJiDo4R9qrTgUDgTgZzulu=s680-w680-h510" class="d-block w-100"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/p/AF1QipOBGeribgeIKafN0Mca1WH7RdwvNWmis1z6flkp=s680-w680-h510" class="d-block w-100"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/p/AF1QipOecf_BcqyLT3Osk0-clty08nVZR8r8Qmf9jMCq=s680-w680-h510" class="d-block w-100"  alt="...">
      </div>
    </div> 
</div>
</div>
<div class="OPT mt-3" style="width:250px;">
  <p class="exp flex mb-3">EXPLORE HERE!</p>
        <div class="p-2 mb-3"><a href="/books" style="color: black;text-decoration: none;">ALL TITLES</a></div>
        <div class="p-2 mb-3"><a href="/books/popular" style="color: black;text-decoration: none;">POPULAR TITLES</a></div>
        <div class="p-2 mb-3"><a href="/books/pyqs" style="color: black;text-decoration: none;">PYQS</a></div>
        <div class="p-2 mb-3"><a href="/books/reqbook" style="color: black;text-decoration: none;">REQUEST BOOK</a></div>
        <div class="p-2 mb-3"><a href="/books/waitinglist" style="color: black;text-decoration: none;">WAITING LIST</a></div>
        <div class="p-2 mb-3"><a href="/books/wishlist" style="color: black;text-decoration: none;">WISH LIST</a></div>
      </div>
      
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Contact of Librarians</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Name:sejal</p>
          <p>contact:12345678</p>
          <p>Name:tejal</p>
          <p>contact:12345678</p>
          <hr>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
      </div>
  
  </div>
